@use "./variables" as *;

// Classe ht x altezza
.ht{
  &-0{
    height: 0;
  }
  &-10{
    height: 10px;
  }
  &-20{
    height: 20px;
  }
  &-50{
    height: 50px;
  }
  &-100{
    height: 100px;
  }
}